<div class="container mt-5">

  <div class="content">

    <full-calendar
      *ngIf="options"
      #fullCalendar
      [editable]="true"
      [events]="eventsModel"
      [buttonText]="options.buttonText"
      [header]="options.header"
      [customButtons]="options.customButtons"
      (dateClick)="dateClick($event)"
      (eventDragStop)="eventDragStop($event)"
      [plugins]="options.plugins"
      (eventClick)="eventClick($event)"
      themeSystem="bootstrap"
      [footer]="options.footer"
      aspectRatio="2.5">
    </full-calendar>

  </div>

</div>
