<div class="container mt-4 mb-4" fxLayout="row" fxLayout.xs="row" fxLayoutAlign="space-around center" > <!-- row -->

  <div class="content"> <!-- col -->

    <mat-card> <!-- mat card begin -->

      <mat-card-header fxLayoutAlign="space-between center"><!-- card header -->

        <h2>
          Register
        </h2>

        <button routerLink="/login" mat-raised-button color="accent">
          Log in
        </button>

      </mat-card-header> <!-- card header -->

      <hr> <!-- horizontal line -->

      <form [formGroup]="registrationForm" (ngSubmit)="authService.SignUp(eMail.value, passWord.value)"> <!-- form -->

        <mat-card-content fxLayout="row" fxLayoutAlign="space-around center"> <!-- registrationForm content -->

          <mat-form-field appearance="outline"> <!-- first name -->

            <mat-label>First Name</mat-label> <!-- first name label -->

            <input type="text" matInput formControlName="firstName" required placeholder="Example: Julian"> <!-- first name input -->

            <mat-hint> <!-- first name validator -->

              <div *ngIf="firstName.invalid && firstName.touched">
                <small *ngIf="firstName.errors?.required" class="text-danger">First Name is required</small> <!-- error if null input after touching -->
              </div>

            </mat-hint> <!-- first name validator ends -->

          </mat-form-field> <!-- first name ends -->


          <mat-form-field appearance="outline"> <!-- last name -->

            <mat-label>Last Name</mat-label> <!-- last name label -->

            <input type="text" matInput formControlName="lastName" required placeholder="Example: Weber"> <!-- last name input -->

            <mat-hint> <!-- last name validator -->

              <div *ngIf="lastName.invalid && lastName.touched">
                <small *ngIf="lastName.errors?.required" class="text-danger">Last Name is required</small> <!-- error if null input after touching -->
              </div>

            </mat-hint> <!-- last name validator ends -->

          </mat-form-field> <!-- last name ends -->


        </mat-card-content>

        <mat-card-content fxLayout="row" fxLayoutAlign="space-around center">

          <mat-form-field appearance="outline" fxFlex="92"> <!-- email -->

            <mat-label>Email</mat-label> <!-- email label -->

            <input type="email" matInput formControlName="eMail" #eMail required placeholder="Example: julian@selise.ch"> <!-- email input -->

            <mat-hint> <!-- email validator -->

              <div *ngIf="email.invalid && email.touched">
                <small *ngIf="email.errors?.required" class="text-danger">Email is required</small> <!-- error if null input after touching -->
              </div>

            </mat-hint> <!-- email validator ends -->

          </mat-form-field> <!-- email ends -->

        </mat-card-content>


        <mat-card-content fxLayout="row" fxLayoutAlign="space-around center">

          <mat-form-field appearance="outline"> <!-- password -->

            <mat-label>Password</mat-label> <!-- password label -->

            <input type="password" matInput formControlName="passWord" #passWord required placeholder="Example: Julian123"> <!-- password input -->

            <mat-hint> <!-- password validator -->

              <div *ngIf="password.invalid && password.untouched">
                Must be 8-14 characters <!-- hint before touch -->
              </div>

              <div *ngIf="password.invalid && password.touched">
                <small *ngIf="password.errors?.required" class="text-danger">Password is required</small> <!-- error if null input after touching -->
              </div>

            </mat-hint> <!-- password validator ends -->

          </mat-form-field> <!-- password ends -->


          <mat-form-field appearance="outline"> <!-- confirm password -->

            <mat-label>Confirm Password</mat-label> <!-- confirm password label -->

            <input type="password" matInput formControlName="confirmPassword" required> <!-- confirm password input -->

            <mat-hint> <!-- confirm password validator -->

              <div *ngIf="confirmPassword.invalid && confirmPassword.untouched">
                Must match the password entered before <!-- hint before touch -->
              </div>

              <div *ngIf="confirmPassword.invalid && confirmPassword.touched">
                <small *ngIf="confirmPassword.errors?.required" class="text-danger">Password confirmation is required</small> <!-- error if null input after touching -->
                <small *ngIf="registrationForm.errors?.misMatch" class="text-danger">Password does not match</small> <!-- Password mismatch -->
              </div>

            </mat-hint> <!-- confirm password validator ends -->

          </mat-form-field> <!-- confirm password ends -->

        </mat-card-content> <!-- registrationForm content ends -->

        <mat-card-actions> <!-- submit button -->
          <button mat-raised-button type="submit" [disabled]='!registrationForm.valid'>Sign Up</button>
        </mat-card-actions>

        <div>

          <small class="text-muted">
            By clicking the 'Sign Up' button, you confirm that you accept our
            <a href="">Terms of use and Privacy Policy.</a>
          </small> <!-- Terms and Policy -->

        </div>

        <mat-card-footer>

          <hr>

          <div>
            Already with an account? <a routerLink="/login">Log In</a>
          </div>

        </mat-card-footer>

      </form> <!-- registrationForm ends -->

    </mat-card><!-- mat card ends -->

  </div><!-- content ends -->

</div> <!-- container end -->
