<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around center">

  <div class="content" fxFlex="27.5">

    <mat-card> <!-- mat card begins -->

      <mat-card-header fxLayout="row" fxLayoutAlign="space-evenly center">

        <mat-card-title> Sign In </mat-card-title> <!-- card title -->

      </mat-card-header>

      <hr>

      <form [formGroup]="loginForm" (ngSubmit)="authService.SignIn(eMail.value, passWord.value)"> <!-- form begins -->

        <mat-card-content>

          <mat-form-field appearance="outline" fxFlex> <!-- email -->

            <mat-label>Email</mat-label> <!-- email label -->

            <input type="email" #eMail matInput required formControlName="eMail"> <!-- email input -->

            <mat-hint> <!-- email validator -->

              <div *ngIf="email.invalid && email.untouched">
                (sample: example@example.com) <!-- hint before touch -->
              </div>

              <div *ngIf="email.invalid && email.touched">
                <small *ngIf="email.errors?.required" class="text-danger">Email is required</small> <!-- error if null input after touching -->
              </div>

            </mat-hint> <!-- email validator ends -->

          </mat-form-field> <!-- email ends -->

        </mat-card-content>

        <mat-card-content>

          <mat-form-field appearance="outline" fxFlex> <!-- password -->

            <mat-label>Password</mat-label> <!-- password label -->

            <input type="password" #passWord matInput required formControlName="passWord"> <!-- password input -->

            <mat-hint> <!-- password validator -->

              <div *ngIf="password.invalid && password.untouched">
                (sample: abc123) <!-- hint before touch -->
              </div>

              <div *ngIf="password.invalid && password.touched">
                <small *ngIf="password.errors?.required" class="text-danger">Password is required</small> <!-- error if null input after touching -->
              </div>

            </mat-hint> <!-- password validator ends -->

          </mat-form-field> <!-- password ends -->

        </mat-card-content>

        <mat-card-actions fxFlexAlign="space-around center"> <!-- submit button -->
          <button mat-raised-button type="submit" [disabled]="!loginForm.valid"> Log In </button>
        </mat-card-actions>

      </form> <!-- form ends -->

      <hr>

      <button mat-raised-button (click)="authService.login()">Login with Google</button>

      <mat-card-footer fxFlexAlign="space-around"> <!-- mat footer -->
        No Account Yet! <a routerLink="/register">Sign Up</a> <!-- register link -->
      </mat-card-footer> <!-- mat footer ends -->


    </mat-card> <!-- mat card ends -->

  </div> <!-- content ends -->

</div> <!-- container ends -->
