<!-- navbar -->
<mat-toolbar class="navbar navbar-expand-lg mt-2" color="primary">

  <!-- nav brand -->
    <div class="navbar-brand">
      <img src="../../assets/Image/selise-logo.png" id="logo" alt="logo.png" routerLink="/shared/home">
    </div>
  <!-- nav brand ends -->

  <!-- nav toggler on resizing -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupport"
          aria-controls="navbarSupport" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- nav list begins -->
  <div class="collapse navbar-collapse" id="navbarSupport">
    <!-- nav left list -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/shared/home">
          Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/assign-room">
          Assign Room
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/users/book-room">
          Book Room
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/users/edit-book">
          Edit Booking
        </a>
      </li>
    </ul>
    <!-- nav right list -->
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <ng-template #anonymousUser>
        <li class="nav-item">
          <a class="nav-link" routerLink="/shared/register"> Sign Up </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/shared/login" > Login </a>
        </li>
      </ng-template>
      <li class="nav-item dropdown" *ngIf="authService.user$ | async as user; else anonymousUser">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          <span> Welcome {{user.displayName}}</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-default"
             aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/users/edit-book">Username</a>
          <a class="dropdown-item" routerLink="/users/book-room">Settings</a>
          <a class="dropdown-item" style="cursor: pointer;" (click)="authService.logout()">Logout</a>
        </div>
      </li>
    </ul>
  </div>
  <!-- nav list ends -->
</mat-toolbar>
<!-- navbar ends -->


