mat-toolbar {
  font-family: Muli, cursive;
  font-size: 1.15rem;
  text-shadow: -1px 1px 10px darkblue;
  box-shadow: 5px 5px 8px grey;
}
a {
  cursor: pointer;
  color: white;
}
#logo {
  height: 50px;
  width: auto;
}
img {
  cursor: pointer;
}
img:focus {
  outline: none;
}
.dropdown-item {
  color: dimgrey;
}
