<div fxLayout="row" fxLayout.xs="column">
  <form [formGroup]="bookingForm" (ngSubmit)="saveBook()">
    <h2 mat-dialog-title fxLayoutAlign="center">Book your Room</h2>
    <mat-form-field appearance="outline">
      <mat-label>Event Name</mat-label>
      <input matInput type="text" formControlName="eventName">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Room Name</mat-label>
      <input matInput type="text" formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Location</mat-label>
      <input matInput type="text" formControlName="location">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Date</mat-label>
      <input matInput type="date" formControlName="date">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Start Time</mat-label>
      <input matInput type="time" formControlName="startTime">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>End Time</mat-label>
      <input matInput type="time" formControlName="endTime">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Host</mat-label>
      <input matInput type="text" formControlName="host">
    </mat-form-field>

    <ng-container formArrayName="attendeeName" *ngFor="let attendants of bookingForm.get('attendeeName').controls; let i = index;">
      <div [formGroupName]="i">
      <mat-form-field appearance="outline">
        <mat-label>Attendees</mat-label>
        <input matInput type="text" formControlName="name">
      </mat-form-field>
        <button mat-raised-button (click)="deleteAttendees(i)" style="float: right;">Delete</button>
      </div>
    </ng-container>
    <div fxLayout="row" fxLayoutAlign="space-around center">
    <button mat-raised-button (click)="addAttendees()">Add</button>

    <button mat-raised-button type="submit" color="primary">Submit</button>
    <button mat-raised-button type="reset" color="accent">Reset</button>
    </div>
  </form>
</div>
