<div class="container mt-3 mb-3" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5%" fxLayoutGap.xs="2%">

  <mat-card *ngFor="let room of rooms"><!-- mat card begins -->

    <mat-card-title>{{room.name}}</mat-card-title> <!-- room name -->

    <mat-card-subtitle>{{room.location}}</mat-card-subtitle> <!-- location -->

    <img mat-card-image
         [src]=room.imgUrl
         alt="MRoom"> <!-- room image -->

    <mat-card-content> <!-- description on room -->
      <p>{{room.description}}</p>
    </mat-card-content>

    <mat-card-actions> <!-- booking action -->
      <button mat-raised-button (click)="openDialog()">Book Room</button>
    </mat-card-actions>

  </mat-card> <!-- mat card ends -->

</div> <!-- container ends -->
