mat-card-content {
  text-align: justify;
}
mat-card-title, mat-card-subtitle {
  text-align: center;
}
mat-card {
  background-color: darkseagreen;
}
button {
  background-color: steelblue;
}
mat-card-actions {
  text-align: center;
}
