<table class="border">
  <thead class="bg-dark">
  <tr>
    <td>Bookings</td>
    <td>Date</td>
    <td>Start Time</td>
    <td>End Time</td>
    <td>Options</td>
  </tr>
  </thead>
  <tbody class="bg-white">
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>
      <button mat-raised-button>Edit</button>
      <button mat-raised-button>Delete</button>
    </td>
  </tr>
  </tbody>
</table>

